* {

  &, &:after, &:before {
    box-sizing: inherit;
  }

  & + * {
    margin-top: 1em;
  }

  &.hidden + *,
  & + span {
    margin-top: 0;
  }
}

.hidden {
  display: none !important;
}


.blur {
  filter: blur(3px);
}

.more-blur {
  filter: blur(6px);
}
