$-swatches: (
  default: (
    pink: #c2454e,   // 194,  69,  78
    yellow: #f29d35, // 242, 157,  53
    teal: #248077,   //  36, 128, 119
    cream: #eff2e4,  // 239, 242, 228
    blue: #272d40,   //  39,  45,  64
  )
);

@function swatch($color, $theme: default) {
  @if map-has-key($-swatches, $theme) {
    $swatch-theme: map-get($-swatches, $theme);
    @if map-has-key($swatch-theme, $color) {
      @return map-get($swatch-theme, $color);
    }
    @else if map-has-key(map-get($-swatches, default), $color) {
      @return map-get(map-get($-swatches, default), $color);
    }
    @else {
      @return warn('#{$color} does not exist in #{$theme} theme or default theme');
    }
  }
  @else {
    @return warn('`#{$theme}` does not exist');
  }
}