@mixin faded-hr($color) {
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left,transparent 10%,$color 50%,transparent 90%);
    background: linear-gradient(to right,transparent 10%,$color 50%,transparent 90%);
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin clearfix() {
  @extend %clearfix;
}

.no-wrap {
  white-space: nowrap;
}

@mixin nowrap() {
  @extend .no-wrap;
}

.inline-block {
  display: inline-block;
}

@mixin inline-block() {
  @extend .inline-block;
}
