$-swatches: (
  default: (
    pink: #f382d9,
    yellow: #eabf69,
  ),
);

@function swatch($color, $theme: default) {
  @if map-has-key($-swatches, $theme) {
    $swatch-theme: map-get($-swatches, $theme);
    @if map-has-key($swatch-theme, $color) {
      @return map-get($swatch-theme, $color);
    }
    @else if map-has-key(map-get($-swatches, default), $color) {
      @return map-get(map-get($-swatches, default), $color);
    }
    @else {
      @return warn('#{$color} does not exist in #{$theme} theme or default theme');
    }
  }
  @else {
    @return warn('`#{$theme}` does not exist');
  }
}
